<%- partial('_partial/bg-cover') %>

<main class="content">

  <div id="aboutme" class="container about-container">

    <div class="card">

      <div class="card-content">

        <%- partial('_widget/my-skills') %>

      </div>

    </div>
    
  </div>
</main>